<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="EventLog"
          name="eventlog"
          layout="${message}"
          source="Kastrup.WebUI" />
    <target xsi:type="File"
            name="hubLog"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}"
            fileName="${basedir}/logs/hubLog.txt"
            archiveFileName="${basedir}/logs/archives/hubLog.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    <target xsi:type="File"
            name="defaultlog"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}"
            fileName="${basedir}/logs/logfile.txt"
            archiveFileName="${basedir}/logs/archives/logfile.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
    <target xsi:type="File"
            name="errorlog"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception}"
            fileName="${basedir}/logs/errorlog.txt"
            archiveFileName="${basedir}/logs/archives/errorlog.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="defaultlog" />
    <logger name="*" minlevel="Error" writeTo="errorlog" />
    <logger name="*" minlevel="Error" writeTo="eventlog" />
  </rules>
</nlog>
